<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <title>IndieBrew.form</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../assets/logo.svg">
        </div> 
        <ul>
            <li><a href="">Back to Homepage</a></li>    
        </ul> 
    </nav>
    <div class="first">
        <div class="text">
            <h1>Create your personalized feed.</h1>
            <div class="one">
                <div class="ballon">
                    <img src="../assets/ballon.png">
                </div>
                    <p><span class="bold">Over 20 resources.</span>With resources ranging from Reddit to IndieHacker we’ve got all your needs covered.  </p>
                    </div>
            <div class="two">
                <div class="news">
                    <img src="../assets/news.svg">
                </div>
                  <p><span class="bold">Delivered weekly.</span>Every week at exactly at 12:00pm E.S.T - expect a value-packed digest right in your email.    </p>
            </div>
            <div class="three">
                <div class="bulb">
                    <img src="../assets/bulb.svg">
                </div>
                    <p><span class="bold">Unlimited Ideas.</span>Unlimited ideas. With all the ideas  you’ll be reading about,What’s stopping you from creating a startup? </p>
                    </div>
                    </div>
                    <div class="form-page">
                        <h2>Create your IndieBrew Account</h2>
                        <div class="email">
                            <p>Email</p>
                            <form>
                        <input type="text" placeholder="John@example.com">
                            </form>
                        </div>
                        <div class="name">
                            <p>Full Name</p>
                            <form>
                            <input type="text" placeholder="John Doe">
                             </form>
                        </div>
                        <div class="password">
                            <p>Password</p>
                            <form>
                            <input type="text" placeholder="At least 8 Characters">
                             </form>   
                        </div>
                <div class="last-text">
                <div class="rectangle">
                    <input type="checkbox" name="" id="">
                            </div>
                            <p> By creating an  accout on IndieBrew, you agree to the <a href="#">Terms & condition.</a></p>
                        </div>
                        <h4><a href="#">Create an Account</a></h>
                    </div>
                </div>
                    

            
        
            
    
    
    
</body>
</html>